In [6]:
from src.utils import *

In [7]:
with open("C:\Data-Science\Deployment\Eligibilty_api_schedule\queries\eligibilty_dotcare.sql", "r") as file:
    eligibilty_dotcare = file.read()

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\ai-service\AppData\Local\Temp\2\ipykernel_11672\3447724077.py:1: SyntaxWarning: invalid escape sequence '\D'
  with open("C:\Data-Science\Deployment\Eligibilty_api_schedule\queries\eligibilty_dotcare.sql", "r") as file:

In [8]:
engine = get_conn_engine(source="ORACLE_LIVE")
df_new = pd.read_sql_query(eligibilty_dotcare, engine)

Loading JSON file from passcode.json
Oracle Client library has already been initialized.

DatabaseError: (cx_Oracle.DatabaseError) ORA-00936: missing expression
Help: https://docs.oracle.com/error-help/db/ora-00936/
[SQL: SELECT
V.ID AS visit_id ,
V.CreatedDate AS start_date,
        V.UpdatedDate AS end_date,
P.ID AS patient_id,
CONVERT(DATE,P.DateOfBirth) AS date_of_birth,
P.OccupationID,
OCC.EnName AS Occupation,
            CONCAT(P.EnFirstName, ' ', P.EnSecondName, ' ', P.EnThridName, ' ', P.EnLastName) AS patient_name,
P.EnLastName AS family_name,
P.EnFirstName AS pat_name_1,
P.EnSecondName AS pat_name_2,
G.EnName AS gender,
            P.NationalityID,
MS.EnName AS marital_char,
CASE WHEN P.NationalityID=56 THEN 'NI'
 WHEN P.NationalityID !=56 AND P.IdentificationTypeID =2 THEN 'PPN'
 ELSE 'PRC' END AS nationality,
P.IdentificationValue AS iqama_no,
1 AS  Organization_Code,
'ANDALUSIA HOSPITAL JEDDAH -  PROD' AS 'Organization Name',
10000000046019 AS 'provider-license',

vfi.ContractorClientPolicyNumber,
vfi.ContractorCode AS insurer,
vfi.InsuranceCardNo,
vfi.ContractorClientEnName,
vfi.ContractorClientID,
CGWM.EnName AS purchaser_name,
CGWM.Code AS payer_linces




FROM VisitMgt.Visit AS v
LEFT JOIN VisitMgt.VisitFinincailInfo AS vfi
ON vfi.VisitID = v.id
LEFT JOIN   MPI.Patient P
on p.id=v.patientid
LEFT JOIN MPI.SLKP_Occupation OCC
ON P.OccupationID=OCC.ID
LEFT JOIN MPI.SLKP_Gender G
ON P.GenderID=G.ID
LEFT JOIN MPI.SLKP_MaritalStatus MS
ON P.MaritalStatusID=MS.ID
LEFT JOIN Billing.ContractorGateWayMappings CGWM
ON CGWM.ContractorID=VFI.ContractorID AND CGWM.GateWayID=3

WHERE  CONVERT(DATE,V.CreatedDate) >= DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0) ---FROM THE FIRST OF THE MONTH
AND CONVERT(DATE,V.CreatedDate)=CONVERT(DATE,GETDATE()) --FOR TODATY ONLY
AND  CONVERT(DATETIME,V.CreatedDate) >= DATEADD(HOUR, -4, GETDATE())   --LAST 4 HOURS
]
(Background on this error at: https://sqlalche.me/e/20/4xp6)